body {
  background-color: #f9f9f9;
  /*
  note:
  well, this is important, it makes divs stretch to browser.
  */
  margin: 0 auto;
}

.blank80 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.boxShadow1 {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.04);
}

.boxOutline1 {
  outline: 1px solid rgba(51, 51, 51, 0.08);
}

.boxBorder1 {
  border: 1px solid rgba(51, 51, 51, 0.08);
  border-radius: 4px;
}

.markdownBody {

  background-color: white;
  max-width: 1200px;
  min-width: 200px;

  /*
  note:
  makes text box align to middle.
  */
  margin: 0 auto;

  padding: 0;

  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  color: rgba(74, 74, 74, 1);

  letter-spacing: .8px;
}

.markdownBody p,
.markdownBody h1,
.markdownBody h2,
.markdownBody h3,
.markdownBody h4,
.markdownBody h5,
.markdownBody h6 {
  max-width: 720px;
  margin: 0 auto;
}

.markdownBody p {
  font-size: 16px;
  line-height: 26px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 300;
}

.markdownBody h1 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.markdownBody .center {
  text-align: center;
}

.markdownBody article {
  margin-left: 20px;
  margin-right: 20px;
}

.markdownBody img {
  max-width: 100%;
  min-width: 200px;
  margin: 0 auto;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
