/* ----------------------------------------
some margin and padding
---------------------------------------- */

 @media screen and (max-width: 920px) {
  .main {
    padding: 0 20px;
  }

  .big-div {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  footer {
    padding: 60px 0;
  }

  /* .card-head {
    padding-bottom: 60px;
  } */

  .main2 {
    margin-bottom: -60px;
  }
}

@media screen and (max-width:520px) {
  .big-div {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* ----------------------------------------
some fonts
---------------------------------------- */

@media screen and (max-width: 520px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.75rem;
  }
}

/* ----------------------------------------
nav
---------------------------------------- */

@media screen and (max-width: 600px) {
  #title {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  .left {
    display: none;
  }

  .right {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .right a:not(:first-child) {
    margin-left: 0px;
  }

  #nav {
    padding: 0 20px;
  }
}

/* ----------------------------------------
card head
---------------------------------------- */

@media screen and (max-width: 920px) {
  .card-head {
    max-width: 100%;
  }

  .no-cards {
    padding-bottom: 0px;
  }
}

/* ----------------------------------------
card set long short
---------------------------------------- */

@media screen and (max-width: 920px) {
  .card-set-1 .long {
    flex: 1 1 40%;
    margin: 0 0 0 0;
  }

  .card-set-1 .short {
    flex: 1 1 40%;
    margin: 0 0 0 20px;
  }

  .card-set-1 .long .bg-img,
  .card-set-1 .short .bg-img {
    height: 320px;
  }
}

@media screen and (max-width: 720px) {
  .card-set-1 .long {
    flex: 1 1 100%;
  }

  .card-set-1 .short {
    flex: 1 1 100%;
    margin-top: 60px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 520px) {
  .card-set-1 .long .bg-img,
  .card-set-1 .short .bg-img {
    height: 240px;
  }
}

/* ----------------------------------------
card set trisection
---------------------------------------- */

@media screen and (max-width: 920px) {

  .main2 {
    padding: 0 10px;
  }

  .card-set-1 .tri, .empty-tri {
    padding: 0 10px;
  }

  .card-set-1 .tri, .empty-tri {
    flex: 1 1 50%;
  }

  .card-set-1 .tri {
    margin-block-end: 60px;
  }
}

@media screen and (max-width: 520px) {
  .card-set-1 .tri {
    flex: 1 1 100%;
  }
}

/* ----------------------------------------
footer
---------------------------------------- */

@media screen and (max-width: 520px) {
  #footer li {
    text-align: center;
    float: none;
  }

  #footer li:not(:first-child) {
    padding-left: 0;
    margin: 1.5em 0;
  }

  #footer li:not(:first-child):before {
    width: 0px;
    height: 0px;
    background-color: #adadad;
  }
}

/* ----------------------------------------
sidenav
---------------------------------------- */

@media only screen and (min-width: 1201px) {
  #btn-openNav {
    display: none;
  }

  .next-to-sidenav {
    padding-left: 260px;
  }
}

@media only screen and (max-width: 1200px) {
  #sidenav {
    left: -300px;
  }

  #btn-openNav {
    display: block;
  }

  .next-to-sidenav {
    padding-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  #sidenav {
    z-index: 200;
  }

  #btn-closeNav {
    z-index: 150;
  }
}
