/* ----------------------------------------
some margin and padding
---------------------------------------- */

@media screen and (max-width: 920px) {
  div.main {
    padding: 0 20px;
  }

  div.big-div {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  footer {
    padding: 60px 0;
  }

  .card-head {
    padding-bottom: 60px;
  }

  .no-cards {
    padding-bottom: 0px;
  }

  .card-set-1 .tri {
    margin-block-end: 60px;
  }

  div.main2 {
    margin-bottom: -60px;
  }
}

/* ----------------------------------------
some fonts
---------------------------------------- */

@media screen and (max-width: 520px) {
  h1 {
    font-size: 2rem;
  }
}

/* ----------------------------------------
nav
---------------------------------------- */

@media screen and (max-width: 600px) {
  #title {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  .left {
    display: none;
  }
  .right, .right ul {
    width: 100%;
  }
  .right ul {
    display: flex;
    justify-content: space-between;
  }
  .right ul li:not(:first-child) {
    margin-left: 0px;
  }

  #nav {
    padding: 0 20px;
  }

}

/* ----------------------------------------
card set
---------------------------------------- */

@media screen and (max-width: 920px) {

  div.main2 {
    padding: 0 10px;
  }

  .card-set-1 .tri {
    padding: 0 10px;
  }

  .card-set-1 .long {
    flex: 1 1 100%;
    margin: 0 0 0 0;
  }

  .card-set-1 .short {
    flex: 1 1 100%;
    margin: 40px 0 0 0;
  }

  .card-set-1 .tri {
    flex: 1 1 50%;
  }
}

@media screen and (max-width: 720px) {
  .card-set-1 .long .bg-img {
    height: 320px;
  }

  .card-set-1 .short .bg-img {
    height: 320px;
  }
}

@media screen and (max-width: 520px) {
  .card-set-1 .tri {
    flex: 1 1 100%;
  }
}

/* ----------------------------------------
footer
---------------------------------------- */

@media screen and (max-width: 520px) {
  #footer li {
    text-align: center;
    float: none;
  }

  #footer li:not(:first-child) {
    padding-left: 0;
    margin: 1.5em 0;
  }

  #footer li:not(:first-child):before {
    width: 0px;
    height: 0px;
    background-color: #adadad;
  }
}

/* ----------------------------------------
sidenav
---------------------------------------- */

@media only screen and (max-width: 1400px) {
  #sidenav {
    left: -300px;
    /* display: none; */
  }

  #sidenav2 {
    left: -300px;
    display: block;
  }

  #btn-openNav {
    display: block;
  }

  .next-to-sidenav {
    padding-left: 0;
  }
}

@media only screen and (min-width: 1401px) {
  #sidenav2 {
    left: -300px;
    display: none;
  }

  #btn-openNav {
    display: none;
  }

  .next-to-sidenav {
    padding-left: 260px;
  }
}
