:root {
  --wenchuan-dark: #333333;
  --wenchuan-darkgrey: #5C5C5C;
  --wenchuan-grey: #858585;
  --wenchuan-lightgrey: #C2C2C2;
  --wenchuan-pale: #D6D6D6;
  --wenchuan-palepale: #EBEBEB;
  --wenchuan-palepalepale: #F5F5F5;
  --wenchuan-superpale: #FAFAFA
}

:root {
  --wenchuan-red: #CD2D2D;
  --wenchuan-orange: #FF7E42;
  --wenchuan-yellow: #FFBB1F;
  --wenchuan-green: #25A69A;
  --wenchuan-blue: #1695FF;
  --wenchuan-purple1: #5C6BC0;
  --wenchuan-purple2: #9575CC;
  --wenchuan-pink: #FB91D1;
}

:root {
  --wenchuan-mark-normal: #DAEEFF;
  --wenchuan-mark-hover: #C7E6FF;
}

:root {
  --markdownBodyText: 760px;
  --articleBoxMaxWidth: 1240px;
}
