body {
  background-color: #f9f9f9;
}

.isometricContainer {
  padding: 0 40px;
}

.isometric {
  max-width: 1400px;
  min-width: 200px;
  margin: 0 auto;
  background-color: #fff;
  /* border: 1px solid rgba(0, 0, 0, 0.08); */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-top: -60px;
  /* padding: 60px 0; */
}

.isometric h1 {
  text-align: center;
}

.isometric figure {
  margin: 0 auto;
}

.isometric img {
  width: 100%;
}

.isometric figure img {
  outline: none;
  border: none;
  box-shadow: none;
}

.md .isometricBImg {
  background-color: grey;
  /* padding: 40px 0; */
}

.md .isometricBImg * {
  color: white;
}

.md .isometricWImg {
  /* background-color: grey; */
  /* padding: 40px 0; */
}

.isometric .short-md {
  margin: 0 auto;
}

.isometricText {
  max-width: 700px;
  min-width: 200px;
  margin: 0 auto;
  padding: 0 20px;
}

.isometricText >:first-child {
  /* margin-top: 40px; */
}

@media screen and (max-width: 920px) {
  .big-div {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .isometric {
    margin-top: -40px;
  }

}

@media screen and (max-width:520px) {
  .isometricContainer {
    padding: 0;
  }

  .isometric {
    margin-top: -80px;
    border: none;
    border-radius: 0;
  }
}
