.short-md {
  margin: 0 auto;
}
.short-md h1,
.short-md h2 {
  text-align: center;
}
.short-md h2 {
  margin-top: 0;
}
.short-md h6 {
  /* margin-top: 100px; */
  margin-bottom: 12px;
  font-size: 12px;
  text-align: center;
}

.md .short-md hr {
  border: none;
  margin: 0 auto;
  width: 120px;
  border-top: 1px solid #333333;
  margin-top: 20px;
  margin-bottom: 28px;
}

.md .short-md h3 hr {
  border: none;
  margin: 0 auto;
  width: 100%;
  border-top: 1px dashed rgba(0, 0, 0, 0.12);
  margin-top: 20px;
  margin-bottom: 28px;
}

.md hr {
  border: none;
  margin: 0 auto;
  width: 100%;
  border-top: 1px dashed rgba(0, 0, 0, 0.12);
  margin-top: 88px;
  margin-bottom: 80px;
}

.md-tri {
  margin-top: 80px;
  margin-bottom: 160px;
}

.md-tri * {
  text-decoration: none;
  border: none;
  outline: none;
}

.md-tri figcaption {
  text-align: center;
  font-size: 14px;
  color: #858585;
  margin-top: 20px;
}

.md-tri *:hover {
  box-shadow: none;
}

.night {
  background-color: #333333;
}

.night .md hr {
  border-color: white;
}

.night .short-md * {
  color: white;
}
